<msda-paginator [itemsPerPage]="10" [itemsPerPageConfig]="[5, 10, 15, 50]" [totalItems]="100"></msda-paginator>


<msda-button type="submit" color="#3f51b5" [disabled]="false">
  <msda-icon name="save" width="24" height="24" color="#FFFFFF"></msda-icon>
  <span>Save</span>
</msda-button>


<msda-plate-icon
  name="parking"
  type="square"
  width="48"
  height="48"
  color="#FFFFFF"
  background="#EA854D">
</msda-plate-icon>


<mat-checkbox>Check me!</mat-checkbox>

<p>test</p>


<msda-icon name="culture" width="80" height="80" color="#FFFFFF" shadow="1">
</msda-icon>


<mat-slider></mat-slider>


<msda-button type="submit" color="#3f51b5" [disabled]="false" [showLoading]="true">
  <msda-icon name="save" width="24" height="24" color="#FFFFFF"></msda-icon>
  <span>Save</span>
</msda-button>


<p class="red-background">my test paragprah</p>

<button mat-button  class="mat-fab">Primary</button>

<!--mat-button-base-->
<!--mat-fab-->
