@import '@angular/material/prebuilt-themes/purple-green.css';
@import "~angular-msda/assets/teststyle.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
